<!-- Footer Start here-->
{% load static %}
<footer class="fooder-bg pt-4 page-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4"><img src="{% static 'home/images/footer-logo.png' %}" alt="Vidhan sabha" class="img-fluid"></div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-4">
        <h5 class="mt-3 mb-3">Vidhansabha</h5>
          <ul class="list-unstyled">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Organization of Secretariat</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Principal Secretary</a></li>
            <li><a href="#">Rules</a></li>
            <li><a href="#">Committees</a></li>
            <li><a href="#">Right to Information</a></li>
          </ul>
      </div>
      <div class="col-sm-4">
        <h5 class="mt-3 mb-3">e-Links</h5>
          <ul class="list-unstyled">
            <li><a href="#">Useful Links</a></li>
            <li><a href="#">SiteMap</a></li>
          </ul>
      </div>
      <div class="col-sm-4">
        <h5 class="mt-3 mb-3">Media</h5>
          <ul class="list-unstyled">
            <li><a href="#">Notices</a></li>
            <li><a href="#">Library</a></li>
            <li><a href="#">Discussion Forum</a></li>
          </ul>
      </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 pt-3 pb-3 border-top">
        <p class="text-12 mb-0">The official website of Legislative Assembly has been developed to provide information about the Legislative Assembly to the general public. The documents and information displayed on the website are for reference purposes only and do not claim to be a legal document. Though all efforts have been made to ensure the accuracy of the content, the same should not be construed as a statement of law or used for any legal purposes. Users are advised to verify/check any information with the relevant published documents before acting on the information provided in the website.</p>
      </div>
    </div>
  </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright Inc. All rights reserved</div>
    <!-- Copyright -->
</footer>
<!-- Footer Ends here-->